<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>myTajweed</title>
</head>

<body>
    <div id="app">
        <h1 class="flex justify-center pt-8 text-4xl font-bold text-sky-700">نون السّاكنة والتّنوين</h1>
        <div class=" border-b border-gray-300 py-2">
        </div>
        <div class="flex flex-col items-end justify-center gap-8 m-6 pb-10">
            <!-- start sini -->
            <div>
                <div class="font-semibold text-lg">١- اختار احكام نون السّاكنة والتّنوين</div>
                <div class="flex flex-col items-end gap-2 mt-4">
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">الإظهار الحلقيّ</span>
                        <input v-model="soalan1.jawapan1" type="checkbox">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">الإظهار الشّفويّ</span>
                        <input v-model="soalan1.jawapan2" type="checkbox">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">الإدغام</span>
                        <input v-model="soalan1.jawapan3" type="checkbox">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">الإقلاب</span>
                        <input v-model="soalan1.jawapan4" type="checkbox">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">الإخفاء الحقيقيّ</span>
                        <input v-model="soalan1.jawapan5" type="checkbox">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">الإخفاء الشّفويّ</span>
                        <input v-model="soalan1.jawapan6" type="checkbox">
                    </div>
                </div>

            </div>
            <div>
                <div class="font-semibold text-lg">٦- أمثلة الإظهار الحلقيّ</div>
                <div class="flex flex-col items-end gap-2 mt-4">
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">مَنْ ءَامَنَ</span>
                        <input v-model="soalan2.jawapan1" type="checkbox" id="true">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">مِنْ هَادٍ</span>
                        <input v-model="soalan2.jawapan2" type="checkbox">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">مِن مَّالٍ</span>
                        <input v-model="soalan2.jawapan3" type="checkbox">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">قَوْمٍ هَادٍ</span>
                        <input v-model="soalan2.jawapan4" type="checkbox">
                    </div>
                </div>

            </div>
            <div>
                <div class="font-semibold text-lg">٧- أمثلة الإدغام بغنّة</div>
                <div class="flex flex-col items-end gap-2 mt-4">
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">عَنْهُ</span>
                        <input v-model="soalan3.jawapan1" type="checkbox" id="true">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">فَمَن يَعْمَلْ</span>
                        <input v-model="soalan3.jawapan2" type="checkbox">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">خَيْرٌ مِّنْ</span>
                        <input v-model="soalan3.jawapan3" type="checkbox">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">مِن رَّبِّك</span>
                        <input v-model="soalan3.jawapan4" type="checkbox">
                    </div>

                </div>

            </div>
            <div>
                <div class="font-semibold text-lg">٩- امثلة الإقلاب</div>
                <div class="flex flex-col items-end gap-2 mt-4">
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">مِنْ بَعْدِ</span>
                        <input v-model="soalan4.jawapan1" type="checkbox" id="true">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">مِن قَبْلِ</span>
                        <input v-model="soalan4.jawapan2" type="checkbox">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">مِنكُمْ</span>
                        <input v-model="soalan4.jawapan3" type="checkbox">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">أَنْ بُورِكَ</span>
                        <input v-model="soalan4.jawapan4" type="checkbox">
                    </div>

                </div>

            </div>
            <div>
                <div class="font-semibold text-lg">١٠- أمثلة الإخفاء الحقيقيّ</div>
                <div class="flex flex-col items-end gap-2 mt-4">
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">تَبَعًا فَهَلْ</span>
                        <input v-model="soalan5.jawapan1" type="checkbox" id="true">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">شَيْءٍ قَدِيرٌ</span>
                        <input v-model="soalan5.jawapan2" type="checkbox">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">عَن طَبَقٍ</span>
                        <input v-model="soalan5.jawapan3" type="checkbox">
                    </div>
                    <div class="p-2 border border-gray-300 rounded-md">
                        <span class="ml-2">عَنْهُ</span>
                        <input v-model="soalan5.jawapan4" type="checkbox">
                    </div>

                </div>

            </div>
        </div>
        <div class="mb-10 flex justify-center">
            <button onclick="location.href='https://ahmad0216.github.io/myTajweed/ujian.html'"
                class="px-8 py-3 bg-red-700 hover:bg-red-800 rounded-md text-2xl text-white shadow-lg font-bold">رجوع</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                soalan1: {
                    jawapan1: "",
                    jawapan2: "",
                    jawapan3: "",
                    jawapan4: "",
                    jawapan5: "",
                    jawapan6: "",
                },
                soalan2: {
                    jawapan1: "",
                    jawapan2: "",
                    jawapan3: "",
                    jawapan4: "",
                },
                soalan3: {
                    jawapan1: "",
                    jawapan2: "",
                    jawapan3: "",
                    jawapan4: "",
                },
                soalan4: {
                    jawapan1: "",
                    jawapan2: "",
                    jawapan3: "",
                    jawapan4: "",
                },
                soalan5: {
                    jawapan1: "",
                    jawapan2: "",
                    jawapan3: "",
                    jawapan4: "",
                }
            },
            watch: {
                'soalan1.jawapan1': function (value) {
                    Swal.fire(
                        'احسنت',
                        '',
                        'success'
                    )
                },
                'soalan1.jawapan2': function (value) {
                    Swal.fire(
                        'لا بأس',
                        '',
                        'error'
                    )
                },
                'soalan1.jawapan3': function (value) {
                    Swal.fire(
                        'احسنت',
                        '',
                        'success'
                    )
                },
                'soalan1.jawapan4': function (value) {
                    Swal.fire(
                        'احسنت',
                        '',
                        'success'
                    )
                },
                'soalan1.jawapan5': function (value) {
                    Swal.fire(
                        'احسنت',
                        '',
                        'success'
                    )
                },
                'soalan1.jawapan6': function (value) {
                    Swal.fire(
                        'لا بأس',
                        '',
                        'error'
                    )
                },
                'soalan2.jawapan1': function (value) {
                    Swal.fire(
                        'احسنت',
                        '',
                        'success'
                    )
                },
                'soalan2.jawapan2': function (value) {
                    Swal.fire(
                        'لا بأس',
                        '',
                        'error'
                    )
                },
                'soalan2.jawapan3': function (value) {
                    Swal.fire(
                        'لا بأس',
                        '',
                        'error'
                    )
                },
                'soalan2.jawapan4': function (value) {
                    Swal.fire(
                        'احسنت',
                        '',
                        'success'
                    )
                },
                'soalan3.jawapan1': function (value) {
                    Swal.fire(
                        'لا بأس',
                        '',
                        'error'
                    )
                },
                'soalan3.jawapan2': function (value) {
                    Swal.fire(
                        'احسنت',
                        '',
                        'success'
                    )
                },
                'soalan3.jawapan3': function (value) {
                    Swal.fire(
                        'احسنت',
                        '',
                        'success'
                    )
                },
                'soalan3.jawapan4': function (value) {
                    Swal.fire(
                        'لا بأس',
                        '',
                        'error'
                    )
                },
                'soalan4.jawapan1': function (value) {
                    Swal.fire(
                        'احسنت',
                        '',
                        'success'
                    )
                },
                'soalan4.jawapan2': function (value) {
                    Swal.fire(
                        'لا بأس',
                        '',
                        'error'
                    )
                },
                'soalan4.jawapan3': function (value) {
                    Swal.fire(
                        'لا بأس',
                        '',
                        'error'
                    )
                },
                'soalan4.jawapan4': function (value) {
                    Swal.fire(
                        'احسنت',
                        '',
                        'success'
                    )
                },
                'soalan5.jawapan1': function (value) {
                    Swal.fire(
                        'احسنت',
                        '',
                        'success'
                    )
                },
                'soalan5.jawapan2': function (value) {
                    Swal.fire(
                        'احسنت',
                        '',
                        'success'
                    )
                },
                'soalan5.jawapan3': function (value) {
                    Swal.fire(
                        'احسنت',
                        '',
                        'success'
                    )
                },
                'soalan5.jawapan4': function (value) {
                    Swal.fire(
                        'لا بأس',
                        '',
                        'error'
                    )
                }
            }
        });
    </script>
</body>

</html>